<ion-header>
  <ion-toolbar>
    <ion-title>Try different players:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item [routerLink]="['/youtube-player']" detail>
      <ion-label>youtube-player</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/plyr']" detail>
      <ion-label>plyr</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/youtube-player']" detail>
      <ion-label>--------------</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/youtube-player']" detail>
      <ion-label>--------------</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/youtube-player']" detail>
      <ion-label>--------------</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
